<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href={{ url_for('static', filename='style.css')}} />
</head>
<body>

 
<img src={{im}} class="center">  <br />

<table>
    <tr>
        <th>Artists</th>
        <th>Title</th>
        <th>Album</th>
    </tr>
<tr>
            <td> {%for i in range(0, Lenght )%} 
                {{Lst[i]}}
                {%endfor%}  
            </td>
            <td>{{n}}</td>
            <td>{{a}}</td>
    
           
  <td> 
  {% if p == None %} 
    Sorry no preview
{% else %}
    <audio controls>
  <source src={{p}} type="audio/mp3">
  Your browser does not support the audio element.
  </audio>
{% endif %}
  
   </td>

</tr>

 
 </table>
 
 <a           href={{lyric}}>Click here for the Lyric</a>
</body>
</html>